################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C#/.vs
**/bin

**/obj
/Typescript/.vs/Linql.ModelGenerator.Typescript
/.vs/Linql.ModelGenerator
.vs/ProjectEvaluation/linql.modelgenerator.metadata.v5.2
.vs/ProjectEvaluation/linql.modelgenerator.projects.v5.2
