################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C#/.vs
**/bin

**/obj
/Typescript/.vs/Linql.ModelGenerator.Typescript
/.vs/Linql.ModelGenerator
